# Virtual environment
venv/

# Dataset
data/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Generated models
models/*.pkl
models/*.joblib

# Environment files
.env

# Editor
.vscode/
